body {
    font-family:  'Segoe UI';;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.top-bar .left {
    display: flex;
    align-items: center;
}

.top-bar .right {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.header-icons img {
    width: 25px;
    height: 25px;
    margin-left: 6px;
}

.profile-pic {
    margin-right: 10px;
    border-radius: 50%;
}

.title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-bar  button {
    margin-left: 20px;
    padding: 10px;
    background-color: #0c67c9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    
    margin-bottom: 10px;
}

header h2 {
    margin: 10px 0;
    font-size: 2em;
    color: #0029FF;
}

.description-box {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

header .sub-header {
    font-size: 1.2em;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}

header .description-box p {
    margin: 10px 0;
    color: #666;
}

header .submit-task {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header .submit-task:hover {
    background-color: #0056b3;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}
/* Rectangle 1 */
.rectangle{
    /* display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 1440px; */
    padding-left: 50px;
    height: 90px;
    left: -7px;
    top: 13px;
    background: #F0F0F0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdowns{
    padding-right: 20%;
}

.card {
    background-color: #fff;
    width: 480px;
    height: 580px;
    margin-bottom: 50px;
    /* padding: 20px; */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    width: 480px;
    height: 580px;
    left: 214px;
    top: 397px;
    background: #FDFDFD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.card-header {
    display: flex;
    justify-content: space-between;
    /* margin: auto; */
    align-items: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
    /* position: absolute; */
    width: 480px;
    height: 50px;
    left: 746px;
    top: 397px;
    background: #000000;
    border-radius: 15px 15px 0px 0px;

}

.slider2 {
    position: fixed;
    right:-5px; /* Start hidden */
    top: 41%;
    transform: translateY(-50%);
    width: 60px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    transition: left 0.3s ease; /* Smooth transition */
  }

 

  .slider2.open {
    position: fixed;
    right: 300px; /* Slide out */
    top: 41%;
    transform: translateY(-50%);
    width: 60px;
    background-color: #fff;
    color: #000;
    height:500px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    transition: left 0.3s ease;
  }

  .slider2 span {
    border: 12px soild #fff;
    position: relative;
    margin-top:-300px;
    margin-inline-start: 15px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 10px 0 10px 0;
    display: block;
    float: left;
    font-size: 14px;
  }

  .slider2 span:hover ~ .slider2.open {
    right: 0; /* Slide out on hover */
    
  }


  .slider2 p1{
    background-color: #d8d8d8;
    color: fff;
    display: flex;
    flex-direction: column;
    position:relative;
    width: 400px;
    height: 500px;
    margin-left:0px;
    border-radius: 0 0 10px 10px;
    margin-top: -16px;
    /* padding-bottom: px; */

  }
  .slider2 p{
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    position:relative;
    width: 400px;
    margin-left:px;
    margin-top: 0px;
    border-radius: 10px 0 10px 0;
    padding-left: 10px;

  }


  .slider2 .close-btn2 {

    display: block;
    margin-bottom: 20px;
    cursor: pointer;
  }


.slider {
    position: fixed;
    left: -50px; /* Start hidden */
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    background-color: #000;
    color: #fff;
    border-radius: 0 10px 10px 0;
    padding:5px;
    transition: left 0.3s ease; /* Smooth transition */
  }

 

  .slider.open {
    position: fixed;
    left: 0px; /* Slide out */
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 0 10px 10px 0;
    padding-left: 10px;
    padding-bottom: 0;;
    padding-left: 200px;
    transition: left 0.3s ease;
  }

  .slider p{
    background-color: #000;
    color: fff;
    display: flex;
    flex-direction: column;
    float: left;
    position:relative;
    width: 235px;
    height: px;
    margin-left: -200px;
    margin-top: 34px;

  }


  .slider span {
    margin-top:0;
    margin-left:40px;
    display: block;
    writing-mode: vertical-rl;
    text-orientation:upright;
    font-size: 14px;
    letter-spacing: 2px;
  }

  .slider .close-btn {

    display: block;
    margin-bottom: 15px;
    cursor: pointer;
  }

.card h2 {
    margin: auto;
    padding-top: 20px;
    font-size: 1.3rem;
    color: antiquewhite;
}

.card .icon img {
    width: 20px;
    height: 20px;
}

.card .card-description {
    margin: 20px;
    color: #666;
}

.video img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.video p {
    text-align: center;
    margin-top: 10px;
    color: #007bff;
}


.thread {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}


.thread label[for="sub-thread-1"]{
    font-family:  'Consolas';
    margin-inline-start: 30px;
    background-color: #ccc;
    font-size: 13.5px;
    margin-bottom: 15px;
    padding-left: 11px;
    padding-right: 97px;
    padding-bottom: 10px;
    
    border: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.thread label[for="sub-thread-2"]{
    font-family:  'Consolas';
    margin-inline-start: 17px;
    margin-inline-end: 29px;
    background-color: #ccc;
    font-size: 13px;
    margin-bottom: 20px;
    padding-left: 9px;
    padding-right: 46px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thread input[name="main"]  {
    
    margin-inline-start: 30px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    
    transition: border-color 0.3s;
}
.thread input[name='main']::placeholder{
    font-family:  'Consolas';
    position: relative;
    top:-40px;
    padding-left: 9px;
    font-size: 12px;
}

.thread input[name="main"]:focus {
    border-color: #007bff;
}
.thread input[name="sub"]  {
    margin-inline-start: 15px;
    margin-inline-end: 30px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    
    transition: border-color 0.3s;
}
.thread input[name='sub']::placeholder{
    font-family:  'Consolas';
    position: relative;
    top:-40px;
    padding-left: 9px;
    font-size: 12px;
}

.thread input[name="sub"]:focus {
    border-color: #007bff;
}

.select select[name="1"]{
    margin-inline-start: 25px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: #666;
    width: 90px;
    font-size: 10px;
    font-weight: bold;
    font-family:  'Segoe UI';
}
.select select[name="2"]{
    margin-top: 20px;
    margin-inline-start: 10px;
    border-radius: 5px;
    box-shadow: #666;
    width: 90px;
    font-size: 10px;
    font-weight: bold;
    font-family:  'Segoe UI';
}

.select img[name="icon"]{
    width: 100px;
    position: relative;
    top: 5px;
    margin-inline-start: 120px;

}

.thread button {
    margin-left: 20px;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.thread label[for="sub-thread-3"]{
    margin-inline-start: 4px;
    margin: 5px;
    background-color: #ccc;
    font-size: 16px;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 294px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.thread textarea {
    width: calc(100% - 20px);
    margin-left: 5px;
        padding-right: 0px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 9px;
}
.thread textarea::placeholder{
    padding: 10px;
}

.add-subthread:hover {
    background-color: #0056b3;
}

.method{
    margin-left: 10px;
}

.method h3{
    border: 1px solid #000;
    padding: 5px;
    border-radius: 5px;
    width: 450px;
}

.article label{
    padding: 20px;
    font-family: Consolas;
    font-size: 15px;
}
.article input{
    margin-inline-start: 10px; 
    margin-top: 10px;
    margin-bottom:10px;
    margin-inline-end: 1000px;
    margin-inline-start: 10px; 
    margin-top: 10px;
    margin-bottom:10px;
    margin-inline-end: 1000px;
    width: calc(100% - 20px);
    height: calc(100% - 20px) ;
}


.method .see-more {
    position: relative;
    
    display: block;
    margin: 10px 0;
    margin-inline-start: 380px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.method .see-more:hover {
    background-color: #0056b3;
}


.box-div {
    position: relative;
    display: inline-block;
    text-align: center;
}
.box {
    display: block;
    height: 107px;
}
.box-text {
    position: absolute;
    top: 5%;
    color: gray;
    font-size: 15px;
    padding: 5px;
    margin-left: 10px;
    padding-inline-start: 25px;
}

.Icon-img{
    position: absolute;
    top: 5%;
    color: gray;
    font-size: 15px;
    padding: 5px;
    margin-left: 10px;
    padding-inline-start: 25px;

}

.Content{

    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    width: 422px;
    height: 78px;
    padding-top: 0px;
    /* left: 245px;
    top: 1472px; */

    background: #FCFBFB;
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 0px;




}
.Content img{
    height: 107px;
    /* padding-bottom: 0; */
    padding-bottom: 0px;
}
textarea {
    width: 89%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;

    background: #FCFBFB;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.18);
    border-radius: 5px 5px 0px 0px;


}

